In [2]:
import pandas as pd 
import numpy as np

In [3]:
veriler=np.random.randint(1,50,([4,5]))

In [4]:
veriler

array([[16, 49, 23, 36, 11],
       [29, 43, 10, 24, 23],
       [30, 11, 26,  3, 46],
       [ 6, 29, 27, 41, 36]])

In [5]:
df=pd.DataFrame(veriler)

In [6]:
veriler

array([[16, 49, 23, 36, 11],
       [29, 43, 10, 24, 23],
       [30, 11, 26,  3, 46],
       [ 6, 29, 27, 41, 36]])

In [7]:
df

    0   1   2   3   4
0  16  49  23  36  11
1  29  43  10  24  23
2  30  11  26   3  46
3   6  29  27  41  36

In [12]:
df=pd.DataFrame(veriler, columns=["s1","s2","s3","s4","s5"], index=["st","st2","st3","st4"])
df

     s1  s2  s3  s4  s5
st   16  49  23  36  11
st2  29  43  10  24  23
st3  30  11  26   3  46
st4   6  29  27  41  36

In [13]:
veriler=[["Hilal","De Souza",17],["Ravza","Sanchez",16]]

In [16]:
df=pd.DataFrame(veriler)
df

       0         1   2
0  Hilal  De Souza  17
1  Ravza   Sanchez  16

In [18]:
df=pd.DataFrame(veriler, columns=["Ad","Soyad","Yaş"], index=["Ögr1","Ögr2"])
df

         Ad     Soyad  Yaş
Ögr1  Hilal  De Souza   17
Ögr2  Ravza   Sanchez   16

In [23]:
df=pd.read_csv("diabetes_data_upload.csv")
df

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40,Male,No,Yes,No,Yes,No,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Positive
1,58,Male,No,No,No,Yes,No,No,Yes,No,No,No,Yes,No,Yes,No,Positive
2,41,Male,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Positive
3,45,Male,No,No,Yes,Yes,Yes,Yes,No,Yes,No,Yes,No,No,No,No,Positive
4,60,Male,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,39,Female,Yes,Yes,Yes,No,Yes,No,No,Yes,No,Yes,Yes,No,No,No,Positive
516,48,Female,Yes,Yes,Yes,Yes,Yes,No,No,Yes,Yes,Yes,Yes,No,No,No,Positive
517,58,Female,Yes,Yes,Yes,Yes,Yes,No,Yes,No,No,No,Yes,Yes,No,Yes,Positive
518,32,Female,No,No,No,Yes,No,No,Yes,Yes,No,Yes,No,No,Yes,No,Negative
519,42,Male,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Negative

In [27]:
df.head(2) #ilk iki satırı gösterir

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40,Male,No,Yes,No,Yes,No,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Positive
1,58,Male,No,No,No,Yes,No,No,Yes,No,No,No,Yes,No,Yes,No,Positive

In [28]:
df.tail(3) #sondan 3satırı gösterir

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
517,58,Female,Yes,Yes,Yes,Yes,Yes,No,Yes,No,No,No,Yes,Yes,No,Yes,Positive
518,32,Female,No,No,No,Yes,No,No,Yes,Yes,No,Yes,No,No,Yes,No,Negative
519,42,Male,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Negative

In [30]:
df.shape #satır ve sütun sayısı

(520, 17)

In [32]:
df.info() #veri seti ile ilgili genel bilgileri verir

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 520 non-null    int64
 1   Gender              520 non-null    object
 2   Polyuria            520 non-null    object
 3   Polydipsia          520 non-null    object
 4   sudden weight loss  520 non-null    object
 5   weakness            520 non-null    object
 6   Polyphagia          520 non-null    object
 7   Genital thrush      520 non-null    object
 8   visual blurring     520 non-null    object
 9   Itching             520 non-null    object
 10  Irritability        520 non-null    object
 11  delayed healing     520 non-null    object
 12  partial paresis     520 non-null    object
 13  muscle stiffness    520 non-null    object
 14  Alopecia            520 non-null    object
 15  Obesity             520 non-null    object
 16  class               520 non-null    object
dtypes: int64(1), object(16)
memory usage: 69.2+ KB

In [34]:
df.ndim #veri setinin boyutunu verir

2

In [ ]:
df.size #veri setinde kaç adet veri olduğunu gösterir